<p style="margin: 10px 0;">Dear <%= @invite.first_name.blank? ? 'Invitee' : @invite.first_name %>,</p>

<p style="margin: 10px 0;">This is <%= @final_reminder ? 'your FINAL' : 'a friendly' %> <strong>reminder</strong> about your invitation to join the <strong><%= @invite.pod.name %></strong> Pod. To keep us organized and to allow the group to stay better connected, I have set up an online "Pod" for us on PodKeeper.</p>

<% if @invite.invitee.nil? %>
  <%= link_to image_tag('http://podanize-images.s3.amazonaws.com/email-images/join-the-pod-blue.png', alt: 'Join the Pod', width: '186', height: '40', border: 0), signup_url(auth_token: @invite.auth_token), style: 'display:block; margin: 0 auto; font-size:18px; height: 40px; width: 186px; color:#15c;' %>
<% else %>
  <%= link_to image_tag('http://podanize-images.s3.amazonaws.com/email-images/join-the-pod-blue.png', alt: 'Join the Pod', width: '186', height: '40', border: 0), invites_url(invite_id: @invite.id), style: 'display:block; margin: 0 auto; font-size:18px; height: 40px; width: 186px; color:#15c;' %>
<% end %>

<h3 style="color:#456189; margin-bottom:0;">Why Join Our Pod?</h3>
<p style="margin: 0 0 10px 0;">Our lives are all pretty hectic, and PodKeeper makes it easier to stay organized. Now you can connect with the people in our group in a whole new way:</p>

<%= render 'mailers/events_calendar' %>
<%= render 'mailers/pod_notes' %>

<% if @invite.invitee.nil? %>
  <%= link_to image_tag('http://podanize-images.s3.amazonaws.com/email-images/join-the-pod-blue.png', alt: 'Join the Pod', width: '186', height: '40', border: 0), signup_url(auth_token: @invite.auth_token), style: 'display:block; margin: 0 auto; font-size:18px; height: 40px; width: 186px; color:#15c;' %>
<% else %>
  <%= link_to image_tag('http://podanize-images.s3.amazonaws.com/email-images/join-the-pod-blue.png', alt: 'Join the Pod', width: '186', height: '40', border: 0), invites_url(invite_id: @invite.id), style: 'display:block; margin: 0 auto; font-size:18px; height: 40px; width: 186px; color:#15c;' %>
<% end %>
<p style="margin: 10px 0;">If you have any questions, don't hesitate to send an email to podhelp@podkeeper.com and they will help you out.</p>

<p style="margin: 10px 0;">All the best,<br>
<%= @invite.inviter.full_name %></p>

<% provide :email, @email %>