<p style="line-height: 15px;margin: 0;font-weight: bold;">Pod Admin</p>
<% unless PodMembership.joined_yesterday(pm.pod, @user).empty? && Invite.declined_yesterday(pm.pod).empty? && PodMembership.left_yesterday(pm.pod).empty? %>

  <% unless PodMembership.joined_yesterday(pm.pod, @user).empty? %>
    <div class="accepted-invites" style="clear: both;">
      <div style="width:25%;float:left;">Joined Pod</div>
      <div style="width:75%;float:left;">
        <%= PodMembership.joined_yesterday(pm.pod, @user).count %>
        (
        <% PodMembership.joined_yesterday(pm.pod, @user).each do |pod_membership| %>
          <%= pod_membership.user.full_name %>
        <% end %>
        )
      </div>
    </div>
  <% end %>
  <% unless Invite.declined_yesterday(pm.pod).empty? %>
    <div class="declined-invites" style="clear: both;">
      <div style="width:25%;float:left;">Declined Invite</div>
      <div style="width:75%;float:left;">
        <%= Invite.declined_yesterday(pm.pod).count %>
        (
        <% Invite.declined_yesterday(pm.pod).each do |invite| %>
          <%= invite.full_name %>
        <% end %>
        )
      </div>
    </div>
  <% end %>
  <% unless PodMembership.left_yesterday(pm.pod).empty? %>
    <div class="deleted-membership" style="clear: both;">
      <div style="width:25%;float:left;">Left Pod</div>
      <div style="width:75%;float:left;">
        <%= PodMembership.left_yesterday(pm.pod).count %>
        (
        <% PodMembership.left_yesterday(pm.pod).each do |pod_membership| %>
          <%= pod_membership.user.full_name %>
        <% end %>
        )
      </div>
    </div>
  <% end %>

  <%= link_to 'Go to Members', members_url(pod_id: pm.pod.id) %>
<% else %>
  No updates to memberships
<% end %>
<hr style="display:block;height:1px;border:0;border-top: 1px solid #ccc;margin:1em 0;padding: 0;" />
