<p style="margin: 10px 0;">Dear <%= @pod_membership.user.first_name? ? @pod_membership.user.first_name : @pod_membership.user.email %>,</p>

<p style="margin: 10px 0;">The following change(s) have been made to your Pod Admin rights for <%= @pod_membership.pod.name %>:</p>

<p style="margin: 10px 0;">You now have <%= @new_access_level.display_name %> rights (you previously had <%= @old_access_level.display_name %> rights).</p>

<p style="margin: 10px 0;">Now that you have <%= @new_access_level.display_name %> rights, you can:</p>

<ul style="margin-top:0; padding-left:12px;">
  <% if @new_access_level == AccessLevel.pod_admin_with_sharing %>
    <li>Give Pod Admin rights to others</li>
  <% end %>
  <% if @new_access_level.id >= AccessLevel.pod_admin.id %>
    <li>Edit or delete the Pod </li>
    <li>Edit or delete any Event</li>
  <% end %>
  <li>Create content and edit or delete it</li>
</ul>

<%= link_to image_tag('http://podanize-images.s3.amazonaws.com/email-images/go-to-the-pod-blue.png', alt: 'Go to the Pod', width: '204', height: '40', border: 0), events_url(@pod_membership.pod), style: 'display:block; width:204px; height: 40px; margin:0 auto; font-size:18px; color:#15c;' %>

<p style="margin: 10px 0;">All the best,<br>
The PodKeeper Team</p>

<% provide :email, @email %>

<table cellpadding="0" cellspacing="0" style="width: 100%;">
  <tr>
    <td style="text-align: center;" align="center">
      <a href="http://e-find.co/c/1754?eid=<%= @email %>&a=&cid=1" class="reach-ad" style="max-width: 468px !important;width: 100%;">
        <img src="http://e-find.co/img/1754?eid=<%= @email %>&a=&cid=1" style="max-width: 468px !important;width: 100%;height:60px;" />
      </a>
    </td>
  </tr>
</table>
