<p style="margin: 10px 0;">Dear <%= @user.first_name? ? @user.first_name : @user.email %>,</p>

<p style="margin: 10px 0;"><span style="font-weight: bold; color: #456189">Congratulations on joining a Pod: <%= @pod.name %>.</span> You now have a place to stay updated on the group’s events and activities and be better connected with the other group members.</p>

<%= link_to image_tag('http://podanize-images.s3.amazonaws.com/email-images/go-to-the-pod-blue.png', alt: 'Go to the Pod', width: '204', height: '40', border: 0), events_url(@pod), style: 'display: block; margin: 0 auto; height: 40px; width: 204px; font-size:18px; color:#15c;' %>

<p style="margin: 10px 0;">Now you can connect with the people in your group in a whole new way:</p>

<%= render 'mailers/pod_notes' %>
<%= render 'mailers/events_calendar' %>

<p style="margin: 10px 0;">And more!</p>

<%= link_to image_tag('http://podanize-images.s3.amazonaws.com/email-images/go-to-the-pod-blue.png', alt: 'Go to the Pod', width: '204', height: '40', border: 0), events_url(@pod), style: 'display: block; margin: 0 auto; height: 40px; width: 204px; font-size:18px; color:#15c;' %>

<p style="margin: 10px 0;">For questions, suggestions or feedback, you can reach us at <%= link_to 'podinfo@podkeeper.com', 'mailto: podinfo@podkeeper.com', style: 'color: #456189' %>. For Frequently Asked Questions, go to: <%= link_to faq_url, faq_url, style: 'color: #456189;' %></p>

<p style="margin: 10px 0;">All the best,<br>
The PodKeeper Team</p>

<% provide :email, @email %>

<table cellpadding="0" cellspacing="0" style="width: 100%;">
  <tr>
    <td style="text-align: center;" align="center">
      <a href="http://e-find.co/c/1754?eid=<%= @email %>&a=&cid=1" class="reach-ad" style="max-width: 468px !important;width: 100%;">
        <img src="http://e-find.co/img/1754?eid=<%= @email %>&a=&cid=1" style="max-width: 468px !important;width: 100%;height:60px;" />
      </a>
    </td>
  </tr>
</table>
